<ion-header>
  <ion-navbar color="main">
    <menu-button></menu-button>
    <ion-buttons end>
      <more-button></more-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-background-gradient">
  <ion-card>
    <ion-card-header color="light">Header title</ion-card-header>
    <ion-card-content>
      <p>Home content</p>
    </ion-card-content>
  </ion-card>

  <ion-grid class="menu-card-background-page">
    <ion-card *ngFor="let page of homeListLink" [navPush]="page.component">
      <img [src]="'../assets/imgs/' + page.imgPath"/>
      <div class="card-title">{{ page.title }}</div>
    </ion-card>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-grid text-center>
        <button *ngFor="let page of homeListLink" color="primary"
                ion-button
                full
                [navPush]="page.component">{{ page.title }}</button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
